.payment-loading-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.payment-loading-container span {
  background-image: linear-gradient(to right, black 0%, #36d7b7 100%);
  -webkit-background-clip: text;
  /* For webkit-based browsers */
  background-clip: text;
  color: transparent;
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
  .payment-loading-container {
    height: 90vh;
  }
}