/* Add styles for the delete confirmation dialog */
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 10px 6%;
  gap: 2em;
}

.delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure it appears in front of everything */
  }
  
  .confirmation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .confirmation-buttons button {
    font-family: "Poppins", sans-serif;
    margin: 0 10px;
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .button-container button {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: var(--red-color); /* Red accent color */
    color: white;
  }

  .logout-btn {
    background-color: black; /* Red accent color */
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }