.report-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #e0e0e0;
    padding: 1em;
    border-radius: 10px;
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.time-info{
  display: flex;
  align-items: center;
  gap: 5px;
}

.report-header-image {
    height: 30px;
    border-radius: 50%;
    width: 30px;
}

.report-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.report-actions {
    display: flex;
    margin-top: 2em;
    font-size: larger;
    align-items: center;
    justify-content: space-between;
}

.edit-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.delete-link {
    color: var(--secondary-color);
    text-decoration: none;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.report-open {
    color: white;
    background-color: var(--deep-blue);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 19px;
    font-weight: 500;
}



@media only screen and (min-width: 200px) and (max-width: 768px) {
    .report-info-image {
        width: 100%;
        height: 19em;
        border-radius: 10px;
        object-fit: cover;
    }

}