.search-bar {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #eeeabd;
    padding: 13px 1em;
    border-radius: 20px;
    width: 100%;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }

  .search-bar:hover {
    border: 1px solid var(--primary-color);
    outline: none;
    width: 100%;
  }
  