.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  align-items: center;
  font-size: 1.2rem;
  transition: 0.3s;
}

.logo a {
  text-decoration: none;
  background-image: linear-gradient(to right, var(--accent-color) 0%, var(--primary-color) 100%);
  font-size: 17px;
  font-weight: bolder;
  -webkit-background-clip: text;
  /* For webkit-based browsers */
  background-clip: text;
  color: transparent;
  /* Make text transparent */
}

.dashboard-header .login-link {
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 19px;
  text-decoration: none;
  transition: 0.3s;
}

.dashboard-header .login-link a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  margin: 6px 0px;
  transition: 0.4s ease-in-out;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.container nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container nav a {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: black;
  align-items: center;
  padding: 0.5em;
  border-radius: 20px;
}

.notification-icon {
  font-size: 1.5em;
  color:  gray;
}

.container nav a:hover {
  background-color: var(--hover-color);
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color);
  padding: 2px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  /* Initially hide the mobile nav off-screen */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 98;
  background-color: white;
  opacity: 1;
  padding-top: 120px;
  padding-bottom: 5em;
  transition: left 0.3s ease;
  /* Add transition for smooth animation */
}

.mobile-nav.is-active {
  left: 0;
  /* Slide in the mobile nav when is-active class is applied */
}

.settings-toggle {
  cursor: pointer;
}

.settings-options {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  bottom: 3em;
  right: 3em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow */
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99; /* Lower z-index than settings options */
  opacity: 0;
  transition: opacity 0.3s ease;
  /* Add transition for smooth animation */
}

.nav-footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1em;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1em;
}

.mobile-nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav a:hover {
  background-color: lightcyan;
}

.mobile-nav-toggle {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  z-index: 99;

}

.login-link a {
  padding: 0px 2px;
}


@media only screen and (min-width: 200px) and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-header .login-link {
    padding: 10px;
  }

  .hamburger {
    display: block;
  }

  .container nav {
    display: none;
  }
}