@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  --primary-color: #FB5607; /* Blue */
  --red-color: #ff0000; /* Red */
  --accent-color: #FFBE0B; /* Yellow */
  --deep-blue: #8338EC;
  --green-color: #0ac40a;
  --light-blue: #3A86FF;
  --light-gray: #c5c4c4;
  --secondary-color: #888383; /* Gray */
  --antique: rgb(247, 233, 217);
  --hover-color: #ebecee;
}

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
}

input {
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 200px) and (max-width: 768px){
  :root {
    font-size: 12px;
  }
}